<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title> Список Квестов </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
               body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://i.playground.ru/i/pix/952839/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




    </style>
</head>
<body>
<center>
    <h2 th:text="${quest1.getDiscript}"/>
    <br>

    <table>
        <tr>
            <form action="/quests/quest/questrun" method="get">
                <input type="hidden" name="action" th:value="${quest1.getAction}">
                <input type="hidden" name="time" th:value="${quest1.getTime}">
                <td th:each="el : ${quest1.getRight1}">
                    <input type="hidden" name="right1" th:value="${el}">
                </td>
                <td th:each="el : ${quest1.getRight2}">
                    <input type="hidden" name="right2" th:value="${el}">
                </td>
                <td th:each="el1 : ${quest1.getLeft}">
                    <input type="hidden" name="left" th:value="${el1}">
                </td>
                <td th:each="el : ${quest1.getCheckList}">
                    <input type="hidden" name="checkList" th:value="${el}">
                    <input type="submit" name="check" th:value="${el}"/>
            </form>
        </tr>
    </table>

</center>
</body>
</html>